pebl-builder/src/main/resources/files/bpel/sa-rules/SA00005/SA00005-4/TestInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TestInterface"
             targetNamespace="http://dsg.wiai.uniba.de/betsy/activities/wsdl/testinterface"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:tns="http://dsg.wiai.uniba.de/betsy/activities/wsdl/testinterface">

    <plink:partnerLinkType name="TestInterfacePartnerLinkType">
        <plink:role name="testInterfaceRole" portType="tns:TestInterfacePortType"/>
    </plink:partnerLinkType>

    <vprop:property name="correlationId" type="xsd:int"/>
    <vprop:propertyAlias messageType="tns:executeProcessSyncRequest" part="inputPart" propertyName="tns:correlationId"/>
    <vprop:propertyAlias messageType="tns:executeProcessSyncStringRequest" part="inputPart" propertyName="tns:correlationId"/>
    <vprop:propertyAlias messageType="tns:executeProcessSyncResponse" part="outputPart" propertyName="tns:correlationId" />
    <vprop:propertyAlias messageType="tns:executeProcessAsyncRequest" part="inputPart" propertyName="tns:correlationId"/>

    <types>
        <xsd:schema targetNamespace="http://dsg.wiai.uniba.de/betsy/activities/wsdl/testinterface" xmlns:tns="http://dsg.wiai.uniba.de/betsy/activities/wsdl/testinterface">
            <xsd:element name="testElementSyncRequest" type="xsd:int"/>
            <xsd:element name="testElementAsyncRequest" type="xsd:int"/>
            <xsd:element name="testElementSyncResponse" type="xsd:int"/>
            <xsd:element name="testElementSyncFault" type="xsd:int"/>
            <xsd:element name="testElementSyncStringRequest" type="xsd:int"/>
            <xsd:element name="testElementSyncStringResponse" type="xsd:string"/>
        </xsd:schema>
    </types>

    <message name="executeProcessSyncRequest">
        <part name="inputPart" element="tns:testElementSyncRequest"/>
    </message>
    <message name="executeProcessAsyncRequest">
        <part name="inputPart" element="tns:testElementAsyncRequest"/>
    </message>
    <message name="executeProcessSyncResponse">
        <part name="outputPart" element="tns:testElementSyncResponse"/>
    </message>
    <message name="executeProcessSyncFault">
        <part name="payload" element="tns:testElementSyncFault"/>
    </message>
    <message name="executeProcessSyncStringRequest">
        <part name="inputPart" element="tns:testElementSyncStringRequest"/>
    </message>
    <message name="executeProcessSyncStringResponse">
        <part name="outputPart" element="tns:testElementSyncStringResponse"/>
    </message>

    <portType name="TestInterfacePortType">
        <operation name="startProcessAsync">
            <input name="asyncInput" message="tns:executeProcessAsyncRequest"/>
        </operation>
        <operation name="startProcessSync">
            <input name="syncInput" message="tns:executeProcessSyncRequest"/>
            <output name="syncOutput" message="tns:executeProcessSyncResponse"/>
            <fault name="syncFault" message="tns:executeProcessSyncFault"/>
        </operation>
        <operation name="startProcessSyncString">
            <input name="syncInputString" message="tns:executeProcessSyncStringRequest"/>
            <output name="syncOutputString" message="tns:executeProcessSyncStringResponse"/>
        </operation>
    </portType>

	<portType name="SecondTestInterfacePortType"/>

    <binding name="TestInterfacePortTypeBinding" type="tns:TestInterfacePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="startProcessAsync">
            <soap:operation soapAction="async"/>
            <input name="asyncInput">
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="startProcessSync">
            <soap:operation soapAction="sync"/>
            <input name="syncInput">
                <soap:body use="literal"/>
            </input>
            <output name="syncOutput">
                <soap:body use="literal"/>
            </output>
            <fault name="syncFault">
                <soap:fault name="syncFault" use="literal"/>
            </fault>
        </operation>
        <operation name="startProcessSyncString">
            <soap:operation soapAction="syncString"/>
            <input name="syncInputString">
                <soap:body use="literal"/>
            </input>
            <output name="syncOutputString">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="TestInterfaceService">
        <port name="TestInterfacePort" binding="tns:TestInterfacePortTypeBinding">
            <soap:address location="ENDPOINT_URL"/>
        </port>
    </service>

</definitions>
