src/main/tests/language-features/TestPartner.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TestPartner"
             targetNamespace="http://dsg.wiai.uniba.de/bpel-engine-comparison/activities/wsdl/testpartner"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://dsg.wiai.uniba.de/bpel-engine-comparison/activities/wsdl/testpartner"
             xmlns:ti="http://dsg.wiai.uniba.de/bpel-engine-comparison/activities/wsdl/testinterface"
             xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <plink:partnerLinkType name="TestPartnerLinkType">
        <plink:role name="testPartnerRole" portType="tns:TestPartnerPortType"/>
    </plink:partnerLinkType>

    <vprop:propertyAlias messageType="tns:executeProcessSyncRequest" part="inputPart" propertyName="ti:correlationId"/>
    <vprop:propertyAlias messageType="tns:executeProcessSyncResponse" part="outputPart" propertyName="ti:correlationId" />
    <vprop:propertyAlias messageType="tns:executeProcessAsyncRequest" part="inputPart" propertyName="ti:correlationId"/>

    <types>
        <xsd:schema targetNamespace="http://dsg.wiai.uniba.de/bpel-engine-comparison/activities/wsdl/testpartner" xmlns:tns="http://dsg.wiai.uniba.de/bpel-engine-comparison/activities/wsdl/testpartner">
            <xsd:element name="testElementSyncRequest" type="xsd:int"/>
            <xsd:element name="testElementAsyncRequest" type="xsd:int"/>
            <xsd:element name="testElementSyncResponse" type="xsd:int"/>
        </xsd:schema>
    </types>

    <message name="executeProcessSyncRequest">
        <part name="inputPart" element="tns:testElementSyncRequest"/>
    </message>
    <message name="executeProcessAsyncRequest">
        <part name="inputPart" element="tns:testElementAsyncRequest"/>
    </message>
    <message name="executeProcessSyncResponse">
        <part name="outputPart" element="tns:testElementSyncResponse"/>
    </message>
    <message name="emptyMessage"/>

    <portType name="TestPartnerPortType">
        <operation name="startProcessAsync">
            <input name="asyncInput" message="tns:executeProcessAsyncRequest"/>
        </operation>
        <operation name="startProcessSync">
            <input name="syncInput" message="tns:executeProcessSyncRequest"/>
            <output name="syncOutput" message="tns:executeProcessSyncResponse"/>
        </operation>
        <operation name="startProcessWithEmptyMessage">
            <input name="emptyInput" message="tns:emptyMessage"/>
        </operation>
    </portType>

    <binding name="TestPartnerPortTypeBinding" type="tns:TestPartnerPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="startProcessAsync">
            <soap:operation/>
            <input name="asyncInput">
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="startProcessSync">
            <soap:operation/>
            <input name="syncInput">
                <soap:body use="literal"/>
            </input>
            <output name="syncOutput">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="startProcessWithEmptyMessage">
            <soap:operation/>
            <input name="emptyInput">
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>

    <service name="TestService">
        <port name="TestPort" binding="tns:TestPartnerPortTypeBinding">
            <soap:address location="http://localhost:2000/bpel-testpartner"/>
        </port>
    </service>

</definitions>